{% extends "base.html" %}

{% block content %}
    <main>
        <h1>My Receipts</h1>
        <table>
            <thead>
                <th>Name</th>
                <th>Number</th>
                <th>Number of receipts</th>
            </thead>
            <tbody>
                    {% for account in account_list %}
                    <tr>
                        <td>{{ account.name }}</td>
                        <td>{{ account.number }}</td>
                        <td>{{ account.receipts.all|length }}</td>
                        {% comment %} line-17 is using a foreignkey to access this information {% endcomment %}
                    </tr>
                    {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock content %}
