{% extends "base.html" %}

{% block content %}
    <main>
        <div>
            <h1>Login</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }} {% comment %} this creates all the line for you form.as_p {% endcomment %}
                {% comment %} <input type="text" name="username"/>
                <input type="password" name="password"/>
                <button>Login</button> {% endcomment %}
                {% comment %} this creates all the line for you form.as_p {% endcomment %}
                <button>Login</button>
            </form>
        </div>
    </main>
{% endblock content %}
