{% extends "base.html" %}

{% block content %}
    <main>
        <div>
            <h1>Signup</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}   {% comment %} this creates all the line for you form.as_p {% endcomment %}
                {% comment %} <label for="username">Username</label>
                <input type="text" name="username"/>
                <br/>
                <input type="password" name="password1"/>
                <input type="password" name="password2"/>
                {% endcomment %}
                <button>Signup</button>
                {% comment %} You still need the button! {% endcomment %}
            </form>
        </div>
    </main>
{% endblock content %}
