{% extends "base.html" %}

{% block content %}
    <main>
        <h1>My Receipts</h1>
        <table class="acc">
            <thead>
                <th>Name</th>
                <th>Number of receipts</th>
            </thead>
            <tbody>
                {% for category in expense_category_list %}
                    <tr>
                        <td>{{ category.name }}</td>
                        <td>{{ category.receipts.all|length }}</td>
                        {% comment %} line-15 is using a foreignkey to access this information {% endcomment %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock content %}
